@charset "UTF-8";
@import "./libs/reset";
@import "./libs/fonts";
@import "./libs/mixin";
// @import "./libs/swiper";

/* ===============
base settings
================== */
body {
  width: 100%;
  background-color: #fefefe;
  color: #000;
  line-height: 1.75em;
  font-kerning: normal;
  -moz-font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  font-feature-settings: "kern";
  a {
    position: relative;
    outline: none;
    color: #1099e0!important;
    text-decoration: none;
    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      top: 100%;
      bottom: auto;
      margin-top: -3px;
      height: 1px;
      background: #1099e0;
      transition: background-color .2s linear 0s;
      z-index:1
    }
    @media screen and (max-width: 750px) {
      transition: color 0.2s, background 0.2s;
      background-color: #fefefe;
      &:active {
        text-decoration: none;
        background-color: #1099e0;
        color: #fefefe!important;
        &:after {
          background: #fefefe;
        }
      }
    }
    @media screen and (min-width: 751px) {
      transition: color 0.2s, background 0.2s;
      background-color: #fefefe;
      &:hover {
        text-decoration: none;
        background-color: #1099e0;
        color: #fff!important;
        &:after {
          background: #fff;
        }
      }
    }
    &.hoverOpacity {
      background: none;
      &:after {
        display: none;
      }
      @media screen and (min-width: 751px) {
        transition: opacity 0.1s;
        &:hover {
          opacity: 0.5;
          transition: opacity 0.2s;
        }
      }
    }
  }
}
.loader {
  transition: opacity 500ms, height 0s 600ms;
  display: flex;
  justify-content: center;
  align-items: center;
  &.loaded {
    opacity: 0;
    height: 0;
  }
  .logo {
    width: 277px;
    height: 205px;
  }
}

.wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  font-family: source-han-sans-japanese, sans-serif;
  //overflow-x: hidden;
  @media screen and (min-width: 751px) {
    .onlySP {display: none;}
    padding: 50px 0 50px;
  }
  @media screen and (max-width: 750px) {
    width: 750px;
    padding-bottom: 50px;
    br.PC,
    .onlyPC {display: none;}
    br.SP {display: inline;}
    .onlySP {display: block;}
  }
}

/* ===============
content - common
================== */
.content_section {
  position: relative;
  margin: 0 auto;
  width: 100%;
  .section_header {
    font-family: azo-sans-web, sans-serif;
    font-weight: 200;
    font-style: italic;
    text-align: center;
  }
  .inner_section {
    .inner_section_header {
      font-weight: 800;
    }
  }
  @media screen and (min-width: 751px) {
    font-size: 16px;
    line-height: 1.75em;
    padding: 0 50px 90px;
    & + .content_section {
      margin-top: 96px;
    }
    .section_header {
      font-size: 58px;
    }
    .inner_section {
      margin-top: 80px;
      .inner_section_header {
      }
    }
  }
  @media screen and (max-width: 750px) {
    font-size: 28px;
    line-height: 48px;
    & + .content_section {
      margin-top: 182px;
    }
    .section_header {
      font-size: 90px;
    }
    .inner_section {
      margin-top: 160px;
      .inner_section_header {
        padding: 0 25px;
        font-size: 48px;
        line-height: 1.25;
      }
      p {
        padding: 0 25px 49px;
      }
    }
  }
}

/* ===============
content - hero
================== */
.content_section-hero {
  .hero-content {
    position: relative;
    h1 {
      //logo
      @include txtHide;
      background: url(../images/logo.svg) 0 0 no-repeat;
      background-size: 100% auto;
    }
    .hero-lead {
      font-weight: 700;
    }
    .qmk-logo {
      display: block;
      background: url(../images/qmk_logo.svg) 0 0 no-repeat;
    }
  }
  @media screen and (min-width: 751px) {
    display: flex;
    .hero-image {
      background: url(http://placehold.jp/000000/555x490.png) center 50% no-repeat;
      width: 555px;
      height: 490px;
    }
    //content
    .hero-content {
      margin-left: 20px;
      width: 325px;
      padding-top: 24px;
      padding-bottom: 60px;
      h1 {
        width: 213px;
        height: 120px;
      }
      .hero-lead {
        margin-top: 30px;
        font-size: 35px;
        line-height: 52px;
      }
      .hero-text {
        margin-top: 24px;
      }
      .qmk-logo {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 180px;
        height: 40px;
      }
    }
  }
  @media screen and (max-width: 750px) {
    padding: 0;
    .hero-image {
      background: url(http://placehold.jp/000000/750x662.png) center 50% no-repeat;
      width: 750px;
      height: 662px;
    }
    //content
    .hero-content {
      position: relative;
      padding: 0 25px;
      h1 {
        position: absolute;
        right: 25px;
        bottom: 116px;
        width: 220px;
        height: 123px;
      }
      .hero-lead {
        margin-top: 57px;
        font-size: 38px;
        line-height: 1.4em;
        text-align: center;
      }
      .hero-text {
        margin-top: 48px;
        width: 460px;
        text-align: right;
      }
      .qmk-logo {
        margin: 60px auto 0;
        width: 220px;
        height: 55px;
      }
    }
  }
}

/* ===============
content - introduction
================== */
.content_section-introduction {
  @media screen and (min-width: 751px) {
    margin-top: 59px;
  }
  @media screen and (max-width: 750px) {
    margin-top: 78px;
    .section_header {}
  }
}

/* ===============
content - buy
================== */
.content_section-buy {
  @media screen and (min-width: 751px) {
    margin-top: 59px;
    .section_header {
      background-position: 0 -50px;
    }
    .inner_section_header {
      margin: 0 auto;
    }
    .buy-notice {
      text-align: center;
    }
  }
  @media screen and (max-width: 750px) {
    margin-top: 78px;
    .section_header {}
  }
}

/* ===============
content - buildGuide
================== */
.content_section-buildGuide {
  @media screen and (min-width: 751px) {
    margin-top: 59px;
    .build-introduction {
    }
    .build-procedure {
    }
  }
  @media screen and (max-width: 750px) {
    margin-top: 78px;
    .section_header {}
  }
}

/* ===============
content - copyright
================== */
.content_section-copyright {
  text-align: center;
  @media screen and (min-width: 751px) {
    margin-top: 30px;
    font-size: 12px;
  }
  @media screen and (max-width: 750px) {
    margin-top: 44px;
    font-size: 17px;
  }
}

.mainFooter {
  width: 100%;
  @media screen and (min-width: 751px) {
  }
  @media screen and (max-width: 750px) {
  }
}
