@charset "UTF-8";
@import "./libs/fonts";
@import "./libs/mixin";
@import "./libs/reset";
// @import "./libs/swiper";

/* ===============
base settings
================== */
body {
  width: 100%;
  background-color: #fefefe;
  color: #000;
  line-height: 1.75em;
  font-kerning: normal;
  -moz-font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  font-feature-settings: "kern";
  a {
    position: relative;
    outline: none;
    color: #1099e0!important;
    text-decoration: none;
    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      top: 100%;
      bottom: auto;
      margin-top: -3px;
      height: 1px;
      background: #1099e0;
      transition: background-color .2s linear 0s;
      z-index:1
    }
    @media screen and (max-width: 750px) {
      transition: color 0.2s, background 0.2s;
      background-color: #fefefe;
      &:active {
        text-decoration: none;
        background-color: #1099e0;
        color: #fefefe!important;
        &:after {
          background: #fefefe;
        }
      }
    }
    @media screen and (min-width: 751px) {
      transition: color 0.2s, background 0.2s;
      background-color: #fefefe;
      &:hover {
        text-decoration: none;
        background-color: #1099e0;
        color: #fff!important;
        &:after {
          background: #fff;
        }
      }
    }
    &.hoverOpacity {
      background: none;
      &:after {
        display: none;
      }
      @media screen and (min-width: 751px) {
        transition: opacity 0.1s;
        &:hover {
          opacity: 0.5;
          transition: opacity 0.2s;
        }
      }
    }
  }
}
.loader {
  transition: opacity 500ms, height 0s 600ms;
  display: flex;
  justify-content: center;
  align-items: center;
  &.loaded {
    opacity: 0;
    height: 0;
  }
  .logo {
    width: 277px;
    height: 205px;
  }
}
.load-container {
  transform: translateY(30px);
  opacity: 0;
  transition: opacity 450ms cubic-bezier(0.19, 1, 0.22, 1), transform 450ms cubic-bezier(0.19, 1, 0.22, 1);
  &.triggered {
    transform: none;
    opacity: 1;
  }
}

.wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  font-family: source-han-sans-japanese, sans-serif;
  //overflow-x: hidden;
  @media screen and (max-width: 750px) {
    br.PC,
    .onlyPC {display: none;}
    br.SP {display: inline;}
    .onlySP {display: block;}
  }
  @media screen and (min-width: 751px) {
    .onlySP {display: none;}
  }
}

/* ===============
content - common
================== */
.content_section {
  position: relative;
  margin: 0 auto;
  width: 100%;
  .content_inner {
    margin: 0 auto;
  }
  .section_header {
    @include txtHide;
    font-weight: 800;
    text-align: center;
    margin: 0 auto;
  }
  .inner_section {
  }
  .inner_section_header {
    @include txtHide;
    font-weight: 800;
    height: 25px;
  }
  @media screen and (min-width: 751px) {
    font-size: 12px;
    line-height: 1.75em;
    & + .content_section {
      margin-top: 60px;
    }
    .section_header {
      width: 290px;
      height: 45px;
      background: url(../images/content_section-header-pc.png) 0 0 no-repeat;
    }
    .inner_section_header {
      background: no-repeat;
      &.order-01 {
        background-position: 0 0;
      }
      &.order-02 {
        background-position: 0 -25px * 1;
      }
      &.order-03 {
        background-position: 0 -25px * 2;
      }
      &.order-04 {
        background-position: 0 -25px * 3;
      }
      &.order-05 {
        background-position: 0 -25px * 4;
      }
      &.order-06 {
        background-position: 0 -25px * 5;
      }
      &.order-07 {
        background-position: 0 -25px * 6;
      }
    }
  }
  @media screen and (max-width: 750px) {
    padding: 0 50px;
    font-size: 20px;
    line-height: 43px;
    margin-top: 40px;
    & + .content_section {
      margin-top: 80px;
    }
  }
}

/* ===============
content - temp
================== */
.content_section-temp {
  @media screen and (min-width: 751px) {
    padding-left: 60px;
    margin-top: 59px;
  }
  @media screen and (max-width: 750px) {
    margin-top: 80px;
    .section_header {}
  }
}

/* ===============
content - hero
================== */
.content_section-hero {
  h1 {
    @include txtHide;
    //logo
  }
  @media screen and (min-width: 751px) {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    padding-right: 60px;
    .hero-image {
      flex-grow: 1;
      //width: 70vw;
      height: 55vw;
      max-height: 590px;
      background: #fff url(/images/palette1202.jpg) right 50% no-repeat;
      background-size: cover;
    }
    //content
    .hero-content {
      position: relative;
      margin-left: 50px;
      width: 250px;
      height: calc((100vw - 750px) * 0.38 + 400px);
      max-height: 495px;
      padding-bottom: 60px;
    }
    .hero-spacer {
      width: 100%;
      height: calc((100vw - 750px) * 0.38);
      max-height: 95px;
    }
    h1 {
      background: url(../images/logo.svg) 0 0 no-repeat;
      width: 170px;
      height: 95px;
      background-size: 100% auto;
    }
    .hero-lead {
      margin-top: 14px;
      font-size: 24px;
      line-height: 1.4em;
      font-weight: 700;
    }
    .hero-text {
      margin-top: 34px;
      font-size: 12px;
    }
    .qmk-logo {
      background: url(../images/qmk_logo.svg) 0 0 no-repeat;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 40px;
    }
  }
  @media screen and (max-width: 750px) {
    padding: 0;
    margin-top: 0;
    .hero-image {
      width: 100%;
      height: 75vw;
      background: #fff url(/images/palette1202.jpg) 50% 50% no-repeat;
      background-size: contain;
    }
    //content
    .hero-content {
      position: relative;
      padding: 0 50px;
    }
    .hero-spacer {
      display: none;
    }
    h1 {
      position: absolute;
      right: 50px;
      bottom: 70px;
      background: url(../images/logo.svg) 0 0 no-repeat;
      width: 200px;
      height: 112px;
      background-size: 100% auto;
    }
    .hero-lead {
      margin-top: 80px;
      font-size: 34px;
      line-height: 1.4em;
      font-weight: 700;
    }
    .hero-text {
      margin-top: 70px;
      font-size: 26px;
      line-height: 48px;
    }
    .qmk-logo {
      background: url(../images/qmk_logo.svg) 0 0 no-repeat;
      position: absolute;
      right: 50px;
      bottom: 0;
      width: 200px;
      height: 50px;
    }
  }
}

/* ===============
content - introduction
================== */
.content_section-introduction {
  @media screen and (min-width: 751px) {
    margin-top: 59px;
    .section_header {
      background-position: 0 0;
    }
    .inner_section_header {
      background: url(../images/header-intro-pc.png) 0 0 no-repeat;
    }
  }
  @media screen and (max-width: 750px) {
    margin-top: 78px;
    .section_header {}
  }
}

/* ===============
content - buy
================== */
.content_section-buy {
  @media screen and (min-width: 751px) {
    margin-top: 59px;
    .section_header {
      background-position: 0 -50px;
    }
    .inner_section_header {
      background: url(../images/header-buy-pc.png) 0 0 no-repeat;
      width: 70px;
      margin: 0 auto;
    }
    .buy-notice {
      text-align: center;
    }
  }
  @media screen and (max-width: 750px) {
    margin-top: 78px;
    .section_header {}
  }
}

/* ===============
content - buildGuide
================== */
.content_section-buildGuide {
  @media screen and (min-width: 751px) {
    margin-top: 59px;
    .section_header {
      background-position: 0 -100px;
    }
    .build-introduction {
      .inner_section_header {
        background-image: url(../images/header-buildGuide-pc.png);
        width: 279px;
      }
    }
    .build-procedure {
      .inner_section_header {
        background-image: url(../images/header-buildGuideProc-pc.png);
        width: 254px;
      }
    }
  }
  @media screen and (max-width: 750px) {
    margin-top: 78px;
    .section_header {}
  }
}

/* ===============
content - copyright
================== */
.content_section-copyright {
  text-align: center;
  @media screen and (min-width: 751px) {
    margin-top: 30px;
    font-size: 12px;
  }
  @media screen and (max-width: 750px) {
    margin-top: 44px;
    font-size: 17px;
  }
}

.mainFooter {
  width: 100%;
  @media screen and (min-width: 751px) {
  }
  @media screen and (max-width: 750px) {
  }
}
