extends _include/_base
block vars
    - var isTop = true
    - var addClass = ''
    - var PugPageClass = 'top'
block title
    title Palette1202
block meta
    //- Page Setting
    meta(name='description', content="イラストレーター向けアシストデバイス Palette1202、登場。")
    meta(name='Keywords', content="左手デバイス")
    meta(name="viewport" content='width=750,user-scalable=yes')
    meta(name="apple-mobile-web-app-title", content="")
    meta(name="format-detection", content="telephone=no")
    link(rel="shortcut icon" href="/images/favicon.ico")
    link(rel="canonical" href="http://palette1202.nilgiri-tea.net/")

    // OGP
    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:site" content="@niltea")
    meta(name="twitter:title" content="Palette1202")
    meta(name="twitter:description" content="イラストレーター向けアシストデバイス Palette1202、登場。")
    meta(name="twitter:image:src" content="http://palette1202.nilgiri-tea.net/images/ogp.png")
    meta(property="og:url" content="http://palette1202.nilgiri-tea.net/")
    meta(property="og:type" content="website")
    meta(property="og:title" content="Palette1202")
    meta(property="og:site_name" content="Palette1202")
    meta(property="og:description" content="イラストレーター向けアシストデバイス Palette1202、登場。")
    meta(property="og:image" content="http://palette1202.nilgiri-tea.net/images/ogp.png")
block body
    div#wrapper.wrapper.loaderTarget
        .content_section.content_section-hero
            .hero-image
            .hero-content
                h1.hero-logo Palette1202
                .hero-lead いい感じのコピーが<br class="onlyPC">出てこないな。
                .hero-text イラストレーター向けアシストデバイス、Palette1202。<br>12個のキーと2つのダイヤルで、<br>イラスト制作をよりスムーズに。
                a.qmk-logo.hoverOpacity(href="https://qmk.fm", target="_blank")

        .content_section.content_section-introduction
            h2.section_header Introduction
            section.inner_section.text-right
                .inner_section_content.content-figure
                    h3.inner_section_header Palette1202とは？
                    .text-container.upper
                        p Clip StudioやPhotoshopといった、イラスト制作ソフトの操作を効率化するために開発されたアシストデバイスです。
                    figure
                        img(src="http://placehold.jp/000000/555x370.png")
                    .text-container.lower
                        p 12個のキー、そして2個のダイヤルは予めショートカットキーが割当てられており、イラスト制作を最大限に効率化することができます。
                        a.link-button(href="/files/palette1202_default_keymap-20191229.pdf") キー割当一覧(PDF)
            section.inner_section.text-left
                .inner_section_content.content-figure
                    h3.inner_section_header BLE Micro Pro対応
                    .text-container.upper
                        p 電池ケースを取り付けることで、BLE Micro Pro(別売)への電源供給が可能。
                            |ソースコードもご用意していますので、容易に無線化することができます。
                    figure
                        img(src="http://placehold.jp/000000/555x370.png")
                    .text-container.lower
                        p 煩雑な配線から開放され、持ち運びに便利なだけでなく、デスクトップで使用するときもストレスフリーです。
            section.inner_section.text-right
                .inner_section_content.content-figure
                    h3.inner_section_header 左・右利き両対応
                    .text-container.upper
                        p 左手・右手両対応することで、左利きの方もご使用いただけます。<br>
                            | また、イラスト制作用のデバイスのみならず、<br>
                            | 事務作業用のマクロパッドとして使用することも可能です。
                    figure
                        img(src="http://placehold.jp/000000/555x370.png")
        .content_section.content_section-buy
            h2.section_header How To Buy
            section.inner_section.buy-shops
                dl
                    dt: a.hoverOpacity(href="https://booth.pm/", target="_blank")
                        img(src="/images/bnr-booth.png", alt="BOOTH")
                    dd Pixiv BOOTHにて販売中。
                dl
                    dt: a.hoverOpacity(href="https://yushakobo.jp/", target="_blank")
                        img(src="/images/bnr-yushakobo.png", alt="遊舎工房")
                    dd 自作キーボード専門ショップ「遊舎工房」内<br>レンタルBOXにて委託販売予定。
            section.inner_section.buy-notice
                h3.inner_section_header ご注意
                .text-container
                    p
                        | 組み立てキットをお求めの場合、<br class="onlySP">
                        | 本キットの他に必要な部品・工具があります。<br>
                        | 組み立て方法をご確認のうえ、別途ご用意ください。
        .content_section.content_section-buildGuide
            h2.section_header Build Guide
            p
                |このガイドでは、Palette 1202の<br class="onlySP">組み立て手順を解説します。
            section.inner_section
                .inner_section_content.table-container
                    h3.inner_section_header 部品一覧
                    .text-container
                        p
                            | 不足の際は直ちに部品をお送りしますので、<br>
                            | お手数ではございますがご連絡をお願いします。
                    .table
                        dl.table-item
                            dt メイン基板
                            dd 1枚
                        dl.table-item
                            dt ダイオード（表面実装用）<br>
                            dd 14個
                        dl.table-item
                            dt MX用 HotSwap ソケット<br>
                            dd 12個
                        dl.table-item
                            dt ロータリーエンコーダー
                            dd 2個

            section.inner_section
                .inner_section_content.table-container
                    h3.inner_section_header 別売部品
                    .text-container
                        p
                            |本キットの他、別途下記部品が必要です。
                    .table
                        dl.table-item
                            dt Pro Micro(またはBLE Micro Pro)
                            dd 1個
                        dl.table-item
                            dt コンスルー(またはピンヘッダ)
                            dd 2個
                        dl.table-item
                            dt ダイオード(1N4148・リードタイプ)<br>
                                span.note ※付属の表面実装ダイオードの使用が難しい場合のみ
                            dd 14個
                        dl.table-item
                            dt Kailh Choc用 HotSwap ソケット<br>
                                span.note ※Kailh Chocスイッチを使用する場合のみ
                            dd 12個
                        dl.table-item
                            dt キースイッチ<br>
                                span.note (MX互換またはKailh Choc)<br>※やや重めのリニアがおすすめです
                            dd 12個
                        dl.table-item
                            dt キーキャップ
                            dd 12個
                        dl.table-item
                            dt OLED ディスプレイ<br>
                                span.note ※オプション
                            dd 1個
                        dl.table-item
                            dt USBケーブル
                            dd 1本
                    .text-container
                        p
                            |また、下記の工具等が必要となります。<br>
                            |はんだごて：調温できる物だと◎
                            br
                            |はんだ
                            br
                            |精密ドライバー

            .build-procedure
                section.inner_section.text-right
                    .inner_section_content.table-container
                        h3.inner_section_header 組み立て手順
                    .inner_section_content.content-figure
                        h3.inner_section_header 基板の確認
                        .text-container.upper
                            p
                                |基本的に基板の裏側をハンダ付けする設計となっています。
                                |左手で使う場合、Pro Microが右上に来る面が裏側です。
                                |右手の場合は、逆にPro Microが左上に来る面が裏側です。
                        figure
                            img(src="http://placehold.jp/000000/555x370.png")
                    .inner_section_content.content-figure
                        .text-container.upper
                            p
                                |左手側は、このようにジャンパを短絡します。
                        figure
                            img(src="http://placehold.jp/000000/555x370.png")

                section.inner_section.text-right
                    .inner_section_content.content-figure
                        h3.inner_section_header ダイオードの取り付け
                        .text-container.upper
                            p
                                |基本的に、背の低い部品から先に取り付けていきます。
                                |まずはダイオードのハンダ付けを行います。
                                | 部品に印字された線と基板の線がそろうようにハンダ付けを行ってください。
                        figure
                            img(src="http://placehold.jp/000000/555x370.png")

                section.inner_section.text-right
                    .inner_section_content.content-figure
                        h3.inner_section_header Hot Swap ソケット
                        .text-container.upper
                            p
                                | ソケットは向きがあり、向きを間違えるとキースイッチが取り付けられません。<br>
                                | 基板上のシルク印刷を確認し、取り付けてください。
                        figure
                            img(src="http://placehold.jp/000000/555x370.png")

                section.inner_section.text-right
                    .inner_section_content.content-figure
                        h3.inner_section_header リセットスイッチ
                        .text-container.upper
                            p
                                |リセットスイッチを付けます。
                                |表面からスイッチを差し込み、ハンダ付けしてください。
                        figure
                            img(src="http://placehold.jp/000000/555x370.png")
                section.inner_section.text-right
                    .inner_section_content.content-figure
                        h3.inner_section_header Pro Micro
                        .text-container.upper
                            p
                                |「コンスルー」をPro Microにハンダ付けします。※向きがあるので注意<br>
                                |そのまま基板に差し、とりつけ完了です。<br>
                                |基板側はハンダ付けしません。（ハンダ付けするとPro Microが取り外せなくなります）
                        figure
                            img(src="http://placehold.jp/000000/555x370.png")
                section.inner_section.text-right
                    .inner_section_content.content-figure
                        h3.inner_section_header ロータリーエンコーダー
                        .text-container.upper
                            p
                                |ロータリーエンコーダーを付けます。
                                |表面から差し込み、ハンダ付けしてください。
                        figure
                            img(src="http://placehold.jp/000000/555x370.png")
                section.inner_section.text-right
                    .inner_section_content.content-figure
                        h3.inner_section_header 仮動作確認
                        .text-container.upper
                            p
                                |この時点で特に問題がなければハンダ付けは終わりです。
                                |動作確認を行うため、下記コマンドでPro Microにファームウェアを書き込みます。
                                |make palette1202:key-check:avrdude
                            p
                                |ソケットにキースイッチを差し込み、キー押下すると対応する文字が入力されるはずです。
                                |上手く動かない場合はハンダ付け不良・ダイオードの向きに誤りがある可能性が高いので、ご確認ください。
                                a() キー対応表はこちら
                        figure
                            img(src="http://placehold.jp/000000/555x370.png")

                section.inner_section.text-right
                    .inner_section_content.content-figure
                        h3.inner_section_header パネル類
                        .text-container.upper
                            p
                                |動作に問題がなければ、キースイッチをいったん外し、パネル類を取り付けます。
                                |フロントパネルにスペーサーをねじで固定します。
                            p
                                |スペーサーを基板に通し、バックパネルをねじで固定します。
                        figure
                            img(src="http://placehold.jp/000000/555x370.png")

                section.inner_section.text-right
                    .inner_section_content.content-figure
                        h3.inner_section_header キースイッチ・キャップ
                        .text-container.upper
                            p
                                |キースイッチを再度取り付け、キーキャップ・ロータリーエンコーダーのつまみを取り付けます。
                        figure
                            img(src="http://placehold.jp/000000/555x370.png")

        .content_section.content_section-copyright
            div.load-container
                | Copyright © 2019-2020&nbsp;
                a(href="https://twitter.com/niltea", target="_blank") Takashi Shibusawa

        .loader#loader
            .loader-logo
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="277" height="205">
                <g fill="#fff"><path d="M121.5 104.02c-1.33-1.56-3.24-2.34-5.7-2.34h-8.3l-7.4 52.87h5.3l2.2-15.86h3.02c2.47 0 4.57-.78 6.3-2.34s2.8-3.67 3.2-6.34l2.8-19.64c.4-2.67-.07-4.78-1.4-6.35zm-6.68 26c-.3 2.27-1.46 3.4-3.47 3.4h-3.02l3.7-26.43h3.02c2 0 2.87 1.13 2.57 3.4L114.8 130zm32.54-29.1h4.9l-7.48 53.62h-4.9l7.48-53.62zm25.44 17.75l.68-4.9h3.02l3.1-8.3h3.02l-1.2 8.3h4.9l-.68 4.9h-4.9L176.8 147c-.3 1.76.33 2.64 1.9 2.64h2.64l-.68 4.9h-2.64c-2.27 0-3.95-.64-5.06-1.93-1.1-1.28-1.46-3.16-1.06-5.63l3.93-28.32h-3.02zm15.5 0l.68-4.9H192l3.1-8.3h3.02l-1.2 8.3h4.9l-.68 4.9h-4.9L192.3 147c-.3 1.76.33 2.64 1.9 2.64h2.64l-.68 4.9h-2.64c-2.27 0-3.95-.64-5.06-1.93-1.1-1.28-1.46-3.16-1.06-5.63l3.93-28.32h-3.02zm33.74 29.88l.37-2.8 2.2.01 2.92-20.27h-.2a2.54 2.54 0 0 1-.68.4 5.89 5.89 0 0 1-.84.28c-.32.08-.7.12-1.17.12l.3-2c.9 0 1.75-.35 2.53-1.06s1.25-1.62 1.42-2.75h2.2l-3.66 25.3h2.2l-.37 2.8-7.24-.03zM243.98 125c-.25 1.62-.6 3.06-1.08 4.32s-1 2.4-1.62 3.43l-1.9 2.94-1.88 2.88c-.6 1-1.13 2.07-1.6 3.24-.47 1.16-.82 2.5-1.04 3.98h6.03l-.37 2.8-8.84-.03.37-2.75c.25-1.65.6-3.1 1.08-4.34.47-1.24 1-2.38 1.62-3.4l1.9-2.94 1.88-2.88c.6-1 1.13-2.07 1.6-3.22s.82-2.5 1.04-4c.16-1.18-.3-1.77-1.36-1.77s-1.7.58-1.85 1.76l-.7 4.7-2.8-.01.7-4.73c.22-1.4.8-2.5 1.72-3.3s2.05-1.22 3.36-1.2c1.3 0 2.32.4 3.03 1.23.7.8.94 1.9.72 3.3zm24.1.08c-.25 1.62-.6 3.06-1.08 4.32s-1 2.4-1.62 3.43l-1.9 2.94-1.88 2.88c-.6 1-1.13 2.07-1.6 3.24-.47 1.16-.82 2.5-1.04 3.98l6.03.02-.37 2.8-8.84-.03.37-2.75c.25-1.65.6-3.1 1.08-4.34.47-1.24 1-2.38 1.62-3.4l1.9-2.94 1.88-2.88c.6-1 1.13-2.07 1.6-3.22s.82-2.5 1.04-4c.16-1.18-.3-1.77-1.36-1.77s-1.7.58-1.85 1.76l-.7 4.7h-2.8l.7-4.73c.22-1.4.8-2.5 1.72-3.3s2.05-1.22 3.36-1.2 2.32.4 3.03 1.23c.7.8.94 1.9.72 3.3zm-46.96 29.74l.38-2.8h42.58l-.38 2.8zm5.35-37.82l.38-2.8h42.58l-.38 2.8zM79.1 4.13v62.6H0v79.52a8.41 8.41 0 0 0 8.41 8.41h81.24V91.5h79.1V4.13H79.1zm.03 140.03H14.3c-2.1 0-3.8-1.7-3.8-3.78V77.25h68.62v66.9zm79.1-103.73V81h-68.6V14.64h68.62v25.8zM228.03 0C200.9 0 178.9 22 178.9 49.14s22 49.14 49.14 49.14 49.14-22 49.14-49.14S255.17 0 228.03 0zm0 87.76c-21.3 0-38.62-17.33-38.62-38.62s17.33-38.62 38.62-38.62c21.3 0 38.62 17.33 38.62 38.62s-17.32 38.62-38.62 38.62zm-10.33 27.68c-1.03-1.17-2.6-1.75-4.72-1.75s-3.86.6-5.25 1.83-2.28 3-2.68 5.35l-3.93 26.57c-.35 2.35-.01 4.13 1.02 5.35s2.6 1.83 4.72 1.83 3.86-.64 5.25-1.93c1.38-1.28 2.25-3.16 2.6-5.63l1.28-8.68h-4.9l-1.28 8.68c-.2 1.76-.93 2.64-2.2 2.64s-1.8-.88-1.6-2.64l1.8-12.46h8.68l.86-5.74.56-3.7.7-4.62c.4-2.23.1-3.93-.94-5.1zm-5.27 13.44l-.13.83h-3.78l1.43-8.88c.3-1.48 1.06-2.22 2.27-2.22.55 0 .98.17 1.28.5s.38.9.23 1.7l-.68 4.24-.62 3.8zm42.87-7.16c-.7-.8-1.72-1.2-3.03-1.2-1.3 0-2.43.4-3.36 1.2s-1.5 1.88-1.72 3.24l-2.88 19.3c-.22 1.36.02 2.45.7 3.25s1.7 1.2 3 1.2 2.44-.4 3.38-1.2 1.52-1.87 1.74-3.24l.36-2.38 2.52-16.92c.22-1.37-.03-2.45-.73-3.25zm-4.96 22.44c-.2 1.15-.82 1.72-1.9 1.72-.5 0-.88-.14-1.12-.42s-.3-.72-.2-1.3l2.88-19.12c.16-1.15.78-1.72 1.85-1.72s1.52.58 1.36 1.73l-.3 2.07-2.57 17.04zm-82.48-28.72c-1.03-1.17-2.6-1.75-4.72-1.75s-3.86.6-5.25 1.83-2.28 3-2.68 5.35l-3.93 26.57c-.35 2.35-.01 4.13 1.02 5.35s2.6 1.83 4.72 1.83 3.86-.64 5.25-1.93c1.38-1.28 2.25-3.16 2.6-5.63l1.28-8.68h-4.9l-1.28 8.68c-.2 1.76-.93 2.64-2.2 2.64s-1.8-.88-1.6-2.64l1.8-12.46h8.68l.97-6.47.8-5.23.35-2.36c.42-2.23.1-3.93-.93-5.1zm-4.3 7.47l-1.1 6.8h-3.78l1.43-8.88c.3-1.48 1.06-2.22 2.27-2.22.55 0 .98.17 1.28.5s.38.9.23 1.7l-.33 2.08zm-25.53-7.34c-1.03-1.25-2.6-1.88-4.72-1.88-1.9 0-3.55.57-4.9 1.72s-2.24 2.83-2.64 5.03l-.83 5.4h4.9l.83-5.04c.15-.8.4-1.37.76-1.7.35-.34.73-.5 1.13-.5.55 0 .98.17 1.28.5s.38.9.23 1.7l-1.44 8.52h-1.9c-2.1 0-3.85.64-5.2 1.93-1.36 1.28-2.24 3.16-2.64 5.63l-1.43 10.2c-.35 2.47-.06 4.34.87 5.63.93 1.28 2.05 1.93 3.36 1.93.55 0 1.06-.08 1.5-.24a4.76 4.76 0 0 0 1.21-.62 4.76 4.76 0 0 0 1.06-.8h.38l-.15 1.58h4.53l4.76-33.5c.4-2.4.07-4.23-.96-5.48zm-6.37 20.9l-1 7.67-.53 4.04a8.69 8.69 0 0 1-.68 1.2 5.08 5.08 0 0 1-.83.84c-.3.24-.66.36-1.06.36s-.73-.2-.98-.64-.33-1.14-.23-2.15l1.43-10.76c.3-1.86 1.06-2.8 2.27-2.8h1.9l-.28 2.23zM15.63 191h-4.3v-.34h8.98v.34H16v11.57h-.37V191z"/><use xlink:href="#B"/><use xlink:href="#C"/><path d="M47.48 190.16h.36v12.42h-.36v-12.42zm3.02 8.16v-.03c0-2.52 1.72-4.42 4.08-4.42 2.7 0 3.9 2.36 3.9 4.5v.07h-7.6c.07 2.45 1.8 4.02 3.88 4.02 1.3 0 2.47-.77 3.15-1.72l.3.2c-.73 1.05-1.96 1.85-3.45 1.85-2.34 0-4.26-1.72-4.26-4.46zm7.6-.22c-.07-1.94-1.3-3.9-3.54-3.9-2.1 0-3.6 1.67-3.68 3.9h7.22zm3.52-3.7h-1.34v-.32h1.34v-1.23c0-.97.26-1.7.7-2.14.4-.4.94-.6 1.62-.6a2.7 2.7 0 0 1 1.2.24v.36c-.32-.15-.75-.24-1.2-.24-1.2 0-1.96.77-1.96 2.45v1.16h3.1v.32h-3.1v8.18h-.36v-8.18zm5.4 6v-6h-1.34v-.32h1.34v-2.94h.36v2.94h3.15v.32h-3.15v5.97c0 1.28.6 2.02 1.82 2.02a2.85 2.85 0 0 0 1.29-.31v.37a3.05 3.05 0 0 1-1.29.27c-1.42.02-2.18-.83-2.18-2.3z"/><use xlink:href="#B" x="55.32"/><path d="M87.3 200.23v-.03c0-1.8 1.67-2.7 3.8-2.7 1.2 0 2.35.22 3.2.53v-.7c0-2.06-1.23-3.03-3.22-3.03-1.05 0-1.94.3-2.82.7l-.14-.3c.94-.46 1.87-.75 2.98-.75 1.17 0 2.1.3 2.72.94.53.53.83 1.36.83 2.42v5.3h-.36v-2c-.36 1-1.63 2.2-3.8 2.2-1.66 0-3.17-.87-3.17-2.55zm7-.77v-1.1c-.9-.34-1.9-.54-3.18-.54-1.92 0-3.44.78-3.44 2.35v.03c0 1.5 1.33 2.23 2.82 2.23 2.3 0 3.8-1.46 3.8-2.98zm3.35-5.4H98v2.33c.27-1.04 1.4-2.54 3.42-2.54 2.3 0 3.57 1.55 3.57 3.9v4.8h-.36v-4.78c0-2.13-1.1-3.6-3.25-3.6-1.9 0-3.4 1.62-3.4 3.66v4.7h-.36v-8.5z"/><use xlink:href="#D"/><use xlink:href="#D" x="15.91"/><use xlink:href="#C" x="102.35"/><path d="M144.08 194.07h.4l3.7 8.13 3.67-8.13h.37l-3.9 8.57h-.27l-3.94-8.57zm10.42-3.4h.53v.97h-.53v-.97zm.1 3.4h.36v8.5h-.36v-8.5zm3.03 4.27v-.03c0-2.42 1.9-4.44 4.36-4.44 1.57 0 2.55.68 3.4 1.58l-.25.24c-.77-.82-1.74-1.48-3.17-1.48-2.26 0-3.96 1.87-3.96 4.08v.03c0 2.2 1.75 4.12 3.98 4.12 1.46 0 2.45-.73 3.2-1.58l.25.24c-.8.94-1.87 1.68-3.47 1.68-2.44 0-4.34-2.03-4.34-4.44zm9.54-.02v-.03c0-2.52 1.72-4.42 4.08-4.42 2.7 0 3.9 2.36 3.9 4.5v.07h-7.6c.07 2.45 1.8 4.02 3.88 4.02 1.3 0 2.47-.77 3.15-1.72l.3.2c-.73 1.05-1.96 1.85-3.45 1.85-2.32 0-4.25-1.72-4.25-4.46zm7.6-.22c-.07-1.94-1.3-3.9-3.54-3.9-2.1 0-3.6 1.67-3.67 3.9h7.2zm8.28-3.7h-1.34v-.32h1.34v-1.23c0-.97.25-1.7.7-2.14.4-.4.94-.6 1.62-.6a2.7 2.7 0 0 1 1.2.24v.36c-.32-.15-.75-.24-1.2-.24-1.2 0-1.96.77-1.96 2.45v1.16h3.1v.32h-3.1v8.18h-.36v-8.18zm4.32 3.96v-.03c0-2.38 1.75-4.46 4.42-4.46 2.65 0 4.42 2.04 4.42 4.42v.03c0 2.38-1.75 4.46-4.42 4.46-2.65 0-4.42-2.04-4.42-4.42zm8.47-.02v-.03c0-2.23-1.68-4.1-4.07-4.1-2.4 0-4.03 1.87-4.03 4.1v.03c0 2.23 1.68 4.1 4.07 4.1 2.4 0 4.03-1.87 4.03-4.1z"/><use xlink:href="#E"/><path d="M208.52 200.23v-.03c0-1.8 1.67-2.7 3.8-2.7 1.2 0 2.35.22 3.2.53v-.7c0-2.06-1.22-3.03-3.22-3.03-1.05 0-1.94.3-2.82.7l-.14-.3c.94-.46 1.87-.75 2.98-.75 1.17 0 2.1.3 2.72.94.53.53.83 1.36.83 2.42v5.3h-.36v-2c-.36 1-1.63 2.2-3.8 2.2-1.65 0-3.17-.87-3.17-2.55zm7-.77v-1.1c-.9-.34-1.9-.54-3.18-.54-1.92 0-3.44.78-3.44 2.35v.03c0 1.5 1.33 2.23 2.82 2.23 2.3 0 3.8-1.46 3.8-2.98z"/><use xlink:href="#E" x="20.1"/><use xlink:href="#F"/><path d="M230.93 190.67h.53v.97h-.53v-.97zm.1 3.4h.36v8.5h-.36v-8.5zm2.77 7.4l.22-.3c.94.78 2.13 1.2 3.23 1.2 1.53 0 2.7-.78 2.7-1.9v-.03c0-1.3-1.4-1.68-2.8-2.08-1.74-.5-2.98-.94-2.98-2.28v-.03c0-1.2 1.17-2.16 2.96-2.16.95 0 2.06.32 2.96.95l-.2.3c-.83-.6-1.85-.92-2.76-.92-1.55 0-2.6.8-2.6 1.8v.03c0 1.12 1.23 1.55 2.7 1.96 1.68.46 3.06.94 3.06 2.4v.03c0 1.33-1.3 2.25-3.08 2.25-1.2 0-2.48-.46-3.43-1.26z"/><use xlink:href="#F" x="18.41"/><path d="M248.5 201.47l.22-.3c.94.78 2.13 1.2 3.23 1.2 1.53 0 2.7-.78 2.7-1.9v-.03c0-1.3-1.4-1.68-2.8-2.08-1.74-.5-2.98-.94-2.98-2.28v-.03c0-1.2 1.17-2.16 2.96-2.16.95 0 2.06.32 2.96.95l-.2.3c-.83-.6-1.85-.92-2.76-.92-1.55 0-2.6.8-2.6 1.8v.03c0 1.12 1.22 1.55 2.7 1.96 1.68.46 3.06.94 3.06 2.4v.03c0 1.33-1.3 2.25-3.08 2.25-1.18 0-2.48-.46-3.43-1.26zm8.67.23h.6v.88h-.6v-.88z"/></g><defs ><path id="B" d="M22.35 190.16h.36v6.24c.27-1.04 1.4-2.54 3.42-2.54 2.3 0 3.57 1.55 3.57 3.9v4.8h-.36v-4.78c0-2.13-1.1-3.6-3.25-3.6-1.9 0-3.4 1.62-3.4 3.66v4.7h-.36v-12.4z"/><path id="C" d="M32.1 198.32v-.03c0-2.52 1.72-4.42 4.08-4.42 2.7 0 3.9 2.36 3.9 4.5v.07h-7.6c.07 2.45 1.8 4.02 3.88 4.02 1.3 0 2.47-.77 3.15-1.72l.3.2c-.73 1.05-1.96 1.85-3.45 1.85-2.33 0-4.25-1.72-4.25-4.46zm7.6-.22c-.07-1.94-1.3-3.9-3.54-3.9-2.1 0-3.6 1.67-3.68 3.9h7.22z"/><path id="D" d="M107.43 198.34v-.03c0-2.47 1.8-4.44 4.25-4.44 1.97 0 3.44 1.23 3.93 2.84v-6.55h.36v12.42h-.36v-2.64c-.5 1.62-1.96 2.84-3.93 2.84-2.46 0-4.25-1.97-4.25-4.44zm8.2 0v-.03c0-2.2-1.63-4.1-3.93-4.1-2.33 0-3.9 1.8-3.9 4.08v.03c0 2.26 1.57 4.12 3.9 4.12 2.3 0 3.93-1.9 3.93-4.1z"/><path id="E" d="M198.77 194.07h.36v2.72c.4-1.4 1.62-2.94 3.5-2.93v.34h-.08c-2.13 0-3.42 2.33-3.42 3.96v4.4h-.36v-8.5z"/><path id="F" d="M225.03 200.4v-6h-1.34v-.32h1.34v-2.94h.36v2.94h3.15v.32h-3.15v5.97c0 1.28.6 2.02 1.82 2.02a2.88 2.88 0 0 0 1.29-.31v.37a3.05 3.05 0 0 1-1.29.27c-1.42.02-2.18-.83-2.18-2.3z"/></defs></svg>

        style
            |.loader {
            |  position: fixed;
            |  z-index: 1000;
            |  left: 0;
            |  top: 0;
            |  width: 100%;
            |  height: 100%;
            |  background-color: #000;
            |}


block script
